
.quiz {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color:black;
  }
  
  .title {
   
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    
  }
  
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border: 4px solid #e7dede;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 4px 8px rgba(217, 206, 206, 0.1);
  }
  
  .question-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .option {
    color: black;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid wheat;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-around;

  }
  
  .option:hover {
    background-color: #77a8bb;
  }
  