

 .result-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:0 auto;
    height: 50vh;
    border-radius: 2px;
    height: 40vh;
    text-align: center;
    
  }
  
  .result-score {
    font-size: 36px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    height: 5vh;
  }
  
  .result-remark {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
  }
  