@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: rgb(78, 144, 199);
  margin: 5px;
  padding: 5px;
  min-height: 98.5vh;
  font-size: x-large;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
